/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #46433A;
}

body {
font-size: 1em;
    line-height: 1.5;
border-top: 10px solid #9c9999;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a { color: #ee4938; text-decoration:none; }
a:visited { color: #ee4938; }
a:hover { color: #9c9999; }
a:focus { outline: thin dotted; }


.intro {color: #636d76;}

nav ul li a, nav ul li a:visited {
color: #9c9999; text-decoration: none;}
nav ul li a:hover, nav ul li a.active{text-decoration: none;
color: #ee4938;}


body#about a#aboutnav,
body#notebook a#notebooknav,
body#projects a#projectsnav,
body#reading a#readingnav {
	color: #ee4938;
}

masthead {
border-bottom: 4px double #ccc;
max-width: 480px;
text-align: center;
margin: 0 auto;
}

nav {margin-top: .5em;
margin-bottom, margin-left, margin-right: 0;
padding: 0;
color: #b9bbbb;
font-size: 1.17em;
}

.name {
margin-top: 1em;
font-size: 22px;
text-align: center;}

.name a { color:#727272; text-decoration:none; }
.name a:visited { color: #727272; }
.name a:hover { color: #cccccc; }
.name a:focus { outline: thin dotted; }

h1 a { color: #46433a; text-decoration:none; }
h1 a:visited { color: #46433a; }
h1 a:hover { color: #9c9999; }
h1 a:focus { outline: thin dotted; }

p a { color: #ee4938; text-decoration:none; }
p a:visited { color: #ee4938; }
p a:hover { color: #9c9999; }
p a:focus { outline: thin dotted; }

#wrapper {
margin: 0 auto;
max-width: 563px;
}

#wrapper img {width: 100%;}

.sectionhed {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
color: #999;
padding-top: 5px;
padding-bottom: 5px;
}



.date {
color: #9c9999;
margin-top: -1.5em;
font-style: italic;
}

.commentdate {
color: #999;
}

.commentmain {
padding-top: 1.5em;
border-top: 1px solid #ccc;
}

.commenthed {
color: #999;
padding-top: 5px;
padding-bottom: 5px;
margin: 0;
}

footer{
padding-top:5px;
margin: 0 auto;
margin-top:1em;
text-align: center;
color: #9c9999;
}

.elsewhere ul, .elsewhere li {
		list-style: none;
		}

.postindex {
border-bottom: 1px double #ccc;
padding-bottom: 1.5em;
}

.postindex h2 {
color: #02344d;
}

.postindex ol {list-style:decimal outside;
font-size:1.17em;
}

.postindex ul {
  list-style: disc outside;
font-size:1.17em;
}

.postindex li { margin-bottom: 0px;}

.postindex ol ol, li li {
  margin: 0 0 0 60px;
}

.postindex ul ul, li li {
 margin: 0 0 0 60px;
}


.viewmore {
font-variant: small-caps;
font-style: normal;
font-size: .75em;
text-align: right;
color: #f9775d;
}

.readmore {
font-variant: small-caps;
}


.firstcharacter { font-size: 1.5em;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

 @media screen and (max-width: 768px) {
  #wrapper {
padding-left: 2.063em;
padding-right: 2.063em;
} 

.postindex ol, ul, li {font-size: 1em;}
p {font-size: 1em;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.375em;}
h3 {font-size: 1em;} 

.date {font-size: 1em; margin-top: -1em;}

nav{
font-size: 1em;
padding: 0;
margin-top: .5em;
margin-bottom:.5em;
}

nav ul,nav ol{list-style:none;list-style-image:none; margin:0; width: 100%; text-align: center; padding:0;}
nav li {display: inline; padding-left: .5em; padding-right: .5em; margin: 0;}
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

fieldset        {margin:0;border:1px solid #ccc;-moz-border-radius:1em;-webkit-border-radius:1em;border-radius:1em;border-bottom-width:10px; font-family: chaparral-pro, sans-serif;}
legend          {color:#333;}
input,
textarea        {border:1px solid #ccc;padding:5px;margin:10px 0 0 0; font-family: chaparral-pro, sans-serif;}
label           {display:block;margin:12px 0 0; float:left;clear:left; width: 200px; font-family: chaparral-pro, sans-serif;}

.button {
   border: 1px solid #cccccc;
   background: #fff;
   padding: 4.5px 9px;
   color: #222222;
   font-size: 15px;
   vertical-align: middle;
width: 100px;
   }

.button:hover {
   border-top-color: #cccccc;
   background: #cccccc;
   color: #ffffff;
   }

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.post {
border-bottom: 1px double #ccc;
padding-bottom: 1.5em;
}

.post h2 {
color: #02344d;
}

.post ol {list-style:decimal outside;
font-size: 1.17em;
}

.post ul {
  list-style: disc outside;
font-size:1.17em;
}

.post li { margin-bottom: 0px;}

.post ol ol, .post li li {
  margin: 0 0 0 60px;
}

.post ul ul, .post li li {
 margin: 0 0 0 60px;
}

