---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import normalize stylesheet
@import "base";

// Import layout stylesheet
@import "base";

// Variables

$text-color: #46433A;
$link-color: #727272; 
$hover-color: #cccccc; 
$nav-color: #b9bbbb;
$light-gray: #9c9999;

// Header styles
.logo {
  margin-top: 1em;
  font-size: 22px;
  text-align: center;
  a, a:visited {
      color:$link-color; 
      text-decoration:none; 
    }  
  a:hover {
        color: $hover-color; 
    }
  a:focus {
        outline: thin dotted; 
    }
}

nav {
  margin: .5em 0 0 0;
  padding: 0;
  color: $nav-color;
  font-size: 1.17em;
  ul li a, ul li a:visited {
      color: $light-gray; text-decoration: none;
  }
  ul li a:hover, ul li a.active {
      text-decoration: none;
      color: #ee4938;
  }
}

body#about a#aboutnav,
body#notebook a#notebooknav,
body#projects a#projectsnav,
body#reading a#readingnav {
  color: #ee4938;
}

// Body typography

a, a:visited {
    color: #ee4938; text-decoration:none; 
  }

a:hover { color: $light-gray; }

a:focus, a:active { outline: thin dotted; }

h1 a, h1 a:visited { 
    color: $link-color; text-decoration:none;
   }
h1 a:hover {
    color: $light-gray; }

h1 a:focus {
    outline: thin dotted; }

p a { color: #ee4938; text-decoration:none; }
p a:visited { color: #ee4938; }
p a:hover { color: $light-gray; }
p a:focus { outline: thin dotted; }

.wrapper {
margin: 0 auto;
max-width: 563px;
}

.wrapper img {width: 100%;}

.date {
color: $light-gray;
margin-top: -1.5em;
font-style: italic;
}

footer{
padding-top:5px;
margin: 0 auto;
margin-top:1em;
text-align: center;
color: $light-gray;
}

.elsewhere ul, .elsewhere li {
		list-style: none;
		}

.post {
border-bottom: 1px double #ccc;
padding-bottom: 1.5em;
  h2 {
      color: #02344d;
  }
  ol {
      list-style:decimal outside;
      font-size: 1.17em;
  }
  ul {
      list-style: disc outside;
      font-size:1.17em;
  }
  li { 
      margin-bottom: 0px;
  }
  ol ol, li li {
      margin: 0 0 0 60px;
  }
  ul ul, li li {
      margin: 0 0 0 60px;
  }
}

.postindex {
border-bottom: 1px double #ccc;
padding-bottom: 1.5em;
  h2 {
    color: #02344d;
  }
  ol {list-style:decimal outside;
font-size:1.17em;
}
ul {
  list-style: disc outside;
font-size:1.17em;
}
li { margin-bottom: 0px;}
ol ol, li li {
  margin: 0 0 0 60px;
}
ul ul, li li {
 margin: 0 0 0 60px;
}
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

 @media screen and (max-width: 768px) {
  .wrapper {
padding-left: 2.063em;
padding-right: 2.063em;
} 

.postindex ol, ul, li {font-size: 1em;}
p {font-size: 1em;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.375em;}
h3 {font-size: 1em;} 

.date {font-size: 1em; margin-top: -1em;}

nav{
font-size: 1em;
padding: 0;
margin-top: .5em;
margin-bottom:.5em;
}

nav ul,nav ol{list-style:none;list-style-image:none; margin:0; width: 100%; text-align: center; padding:0;}
nav li {display: inline; padding-left: .5em; padding-right: .5em; margin: 0;}
}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



