---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import normalize stylesheet
@import "base";

// Import layout stylesheet
@import "layout";

// Variables
$text-color: #46433A;
$link-color: #727272; 
$hover-color: #cccccc; 
$light-gray: #9c9999;
$secondary-color: #ee4938;

// Header styles
.logo {
  margin-top: 1em;
  font-size: 22px;
  text-align: center;
    a {
        color: $link-color;
      &:visited {
        color: $link-color;
      }
      &:hover {
        color: $hover-color;
      }
      &:active {
        color: $hover-color;
      }
    }
}

nav {
  margin: .5em 0 0 0;
  padding: 0;
  font-size: 1.17em;
  ul li a {
    color: $light-gray;
    text-decoration: none;
      &:visited {
        color: $light-gray;
      }
      &:hover {
        color: #ee4938;
      }
      &:active {
        color: #ee4938;
      }
  }
}

body#about a#aboutnav,
body#notebook a#notebooknav,
body#projects a#projectsnav,
body#reading a#readingnav {
  color: #ee4938;
}

// Body typography

a {
    color: #ee4938;
    text-decoration: none;
      &:visited {
        color: #ee4938;
      }
      &:hover {
        color: $light-gray; 
      }
      &:active {
        color: $light-gray; 
      }
    }

h1 a {
  color: $link-color; 
  text-decoration: none;
    &:visited {
      color: $link-color;
    }
    &:hover {
      color: $light-gray; 
    }
    &:active {
      color: $light-gray; 
    }
}

.wrapper {
margin: 0 auto;
max-width: 563px;
  img {
    width: 100%;
  }
}

.date {
color: $light-gray;
margin-top: -1.5em;
font-style: italic;
}

footer{
padding-top:5px;
margin: 0 auto;
margin-top:1em;
text-align: center;
color: $light-gray;
}

.elsewhere ul, .elsewhere li {
    list-style: none;
    }

.post, .postindex {
border-bottom: 1px solid #ccc;
padding-bottom: 1.5em;
}

.post {
  h2 {
      color: #02344d;
  }
  ol {
      list-style:decimal outside;
      font-size: 1.17em;
  }
  ul {
      list-style: disc outside;
      font-size:1.17em;
  }
  li { 
      margin-bottom: 0px;
  }
}

.postindex {
  h2 {
    color: #02344d;
  }
  ol {list-style:decimal outside;
font-size:1.17em;
}
ul {
  list-style: disc outside;
font-size:1.17em;
}
li { margin-bottom: 0px;}
ol ol, li li {
  margin: 0 0 0 60px;
}
ul ul, li li {
 margin: 0 0 0 60px;
}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

 @media screen and (max-width: 768px) {
  .wrapper {
padding-left: 2.063em;
padding-right: 2.063em;
} 

.postindex ol, ul, li {font-size: 1em;}
p {font-size: 1em;}
h1 {font-size: 1.5em;}
h2 {font-size: 1.375em;}
h3 {font-size: 1em;} 

.date {font-size: 1em; margin-top: -1em;}

nav{
font-size: 1em;
padding: 0;
margin-top: .5em;
margin-bottom:.5em;
  ul, ol {list-style:none;list-style-image:none; margin:0; width: 100%; text-align: center; padding:0;}
  li {display: inline; padding-left: .5em; padding-right: .5em; margin: 0;}
}
}







