
  <div class="clearfix"></div>
</div>
<footer class="d-all m-all">
Copyright &copy; Paul Sexton 2012-2015 |  <a href="/feed.xml">Grab the RSS</a> | Made by <a href="http://dakotasexton.com">Dakota Sexton</a>
</footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>

        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
</div>
</body>
</html>