<div id="wrapper">
<!-- masthead -->
<div id="masthead">
<!--header -->
<header>
<hgroup class="d-all m-all">
<div class="name"><a href="/">Paul Sexton</a></div>
</hgroup>
<div class="clearfix"></div>
<aside class="d=all m-all">
<nav>
<ul>
<li><a href="/" id="aboutnav">About</a></li>
<li><a href="/notebook.html" id="notebooknav">Notebook</a></li>
<li><a href="/projects.html" id="projectsnav">Projects</a></li>
<li><a href="/reading.html" id="readingnav">Reading</a></li>
</ul>
</nav>
</aside>
</header>
<!--- /header -->