article, body, footer, h1, h2, h3, h4, h5, h6, header,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

html,
button,
input,
select,
textarea {
    color: #46433A;
}

body {
    font-size: 1em;
    line-height: 1.5;
    }

p {
    margin: 0; 
    font-size:1.17em;
    & + & {
    text-indent: 2.5em;
    }
    } 

pre {
    margin:0;
    }

h1 {
    font-size:2em;
    margin:.67em 0; 
    font-weight: 300;
    }

h2 {
    font-size:1.5em;
    margin:.83em 0; 
    margin-bottom: 0; 
    font-weight: 300;
    }

h3 {
    font-size:1.17em;
    margin:1em 0; 
    font-weight:200;
    }

h4 {
    font-size:1em;
    margin:1.33em 0; 
    font-weight:200;
    }

h5 {
    font-size:.83em;
    margin:1.67em 0;
    font-weight:200;
    }

h6 {
    font-size:.75em;
    margin:2.33em 0; 
    font-weight:200;
    }

menu,ol,ul {
    padding:0;
    }

ul,ol {
    list-style:none;list-style-image:none;
    }

nav ul,nav ol {
    list-style:none;
    list-style-image:none; 
    margin-top: .5em; 
    width: 100%; 
    text-align: center; 
    padding-left: .5em; 
    padding-right:0;
    }

nav li {
    display: inline; 
    padding-right: 2em;
    }

footer ul,nav ol {
    list-style:none;
    list-style-image:none; 
    padding: 0; 
    margin-top: .5em;
    }

footer li {
    display: inline; 
    padding:none;
    }

img {
    vertical-align: middle;
}
